body {
  background-color: #181818;
  color: white;
}

#logo {
  font-family: "Goudy Mediaeval";
  font-size: 2rem;
}

a{
  text-decoration: none;
}

a:visited {
  color: white;
}

.profile-icon {
  font-size: 1.5rem;
}


.profile-dropdown {
  position: absolute;
  list-style: none;
  background-color: #232323;
  margin-left: -4.5rem;
  margin-top: .5rem;
  text-align: left;
  padding: 1rem;
  padding-right: .5rem;
  padding-bottom: 0rem;
  border-radius: .5rem;
  z-index: 3;
}

.profile-dropdown-button {
  background-color: #232323;
  font-size: 1rem;
  padding: 0;
  margin-bottom: .5rem;
  transition: color .2s ease-out;
}

.hidden {
  display: none;
}

#nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#nav-bar-buttons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

button {
  background-color: #181818;
  border: none;
  color: white;
  transition: color .2s ease-out;
}

button:hover, .footer-item:hover, .profile-dropdown-button:hover {
  cursor: pointer;
  color: orange;
}