body {
  background-color: #181818;
  color: white;
}

#logo {
  font-family: "Goudy Mediaeval";
  font-size: 2rem;
}

a{
  text-decoration: none;
}

a:visited {
  color: white;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#nav-bar-buttons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 8rem;
}

