.feed {
    margin-bottom: 5rem;
}

#feed-headline {
    text-emphasis: none;
    text-align: center;
    font-family: "Goudy Mediaeval";
}

.decks-list {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -3rem;
}

.deck-item {
    background-color: #242221;
    border: solid 1px gray;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
}

.thumbnail {
    width: 20rem;
    height: 10rem;
}

