.main-searchbar-div {
    background-color: #181818;
    height: 3rem;
    width: 27.5rem;
    border: solid 1px gray;
    border-radius: .5rem;
    margin: 1rem;
    align-items: center;
    display: flex;
    border-color: gray;
    border-style: solid;
    border-width: .01rem;
    margin-left: 38.5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main-searchbar {
    background-color: #181818;
    height: 2rem;
    width: 24rem;
    border: 0px;
    font-size: 1.2rem;
    margin-left: 1rem;
    color: white;
}

.main-searchbar::placeholder {
    color: #e3e3e3;
}

.fa-search:hover {
    cursor: text;
}

.main-searchbar:focus {
    outline: none;
}

.main-searchbar::placeholder:focus {
    color: black
}

.main-searchbar-div:focus {
    outline-color: yellow;
    border-color: yellow;
}

.search-query-list {
    list-style: none;
    position: absolute;
    margin-left: 29%;
    margin-top: -2%;
}

.search-query-list-item {
    background-color: #242221;
    border: solid 1px white;
    cursor: pointer;
    width: 17rem;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    font-weight: bold;
    justify-content: space-between;
    text-overflow: ellipsis " [..]";
    word-wrap: break-word;
    white-space: pre-line;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
}

.search-query-list-item::-webkit-scrollbar{ 
    display: none;
}

.border-bottom {
    border-bottom: none;
}

.border-top {
    border-top: solid .5px gray;
}

.search-query-list-item:hover {
    background-color:#181818;
}

.hidden {
    display: hidden;
}

.default {
    color: gray;
    margin-top: -1rem;
    font-size: .8rem;
    position: absolute;
    margin-left: 14rem;
}